# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
venv/
.venv/
*.pyc

# Environment
.env
.env.*
!.env.example

# Test cache
.pytest_cache/

# Editor
.vscode/*
.idea
.DS_Store
